*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --bg-dark: #0A192F; 
    --bg-py: #64FFDA;
    --bg-sc: #CCD6F6;
}
.navbar{
    width: 100%;
    height: 90px;
    background: var(--bg-dark);
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: var(--bg-py);
}
.nav_collection{
    display: flex;
    color: var(--bg-sc);
    list-style: none;
    align-items: center;
}
.nav_collection li{
    font-size: 12px;
    margin-right: 24px;
    transform: translateY(-20px);
    opacity: 0;
    animation: logo .5s ease-in-out forwards;
}
@keyframes logo {
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.nav_collection li:nth-child(5){
    animation-delay: .5s;
}
.nav_collection li:nth-child(4){
    animation-delay: .4s;
}
.nav_collection li:nth-child(3){
    animation-delay: .3s;
}
.nav_collection li:nth-child(2){
    animation-delay: .2s;
}
.nav_collection li span{
    color: var(--bg-py);
    margin-right: 3px;
}
.btn{
    padding: 8px 12px;
    background-color: transparent;
    color: var(--bg-py);
    font-size: 11px;
    border: 1px solid var(--bg-py);
    outline: none;
    border-radius: 4px;
}
.banner{
    width: 100%;
    height: 110vh;
    background-color: var(--bg-dark);
}
.banner_item{
    width: 56%;
    margin: auto;
    padding-top: 50px;
}
.my_name{
    color: var(--bg-py);
    font-size: 13px;
    padding-bottom: 22px;
}
.title{
    color: var(--bg-sc);
    font-size: 50px;
    line-height: 1.2;
}
.title span{
    display: block;
    color: #8892B0;
}
.deck{
    color: #8892B0;
    width: 62%;
    padding: 30px 0;
    line-height: 1.5;
}
.deck span{
    color: var(--bg-py);
}
.anime{
    animation: to-top .6s ease-in 2s forwards;
    opacity: 0;
    transform: translateY(40px);
}
@keyframes to-top  {
    to{
    opacity: 1;
    transform: translateY(0);
    }
}
.anime:nth-child(4){
    animation-delay: 1.4s;
}
.anime:nth-child(3){
    animation-delay: 1.3s;
}
.anime:nth-child(2){
    animation-delay: 1.2s;
}
.anime:nth-child(1){
    animation-delay: 1.1s;
}
.icons{
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    color: var(--bg-sc);
}
.icons::before{
    content: '';
    position: absolute;
    bottom: -165px;
    left: 5px;
    width: 1px;
    height: 150px;
    background-color: var(--bg-sc);

}
.icons i{
    color: var(--bg-py);
    display: block;
    margin-bottom: 20px;
    transition: .3s;
}
.icons i:hover{
    transform: translateY(-3px);
    color: var(--bg-py);
    cursor: pointer;
}